@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23242b;
}
.err{
    /* background: #28282d; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #44f3ff;
}
.err h1{
    color: #44f3ff;
    letter-spacing: .08rem;
    font-weight: 700;
    font-size:4rem;
}
.err h2{
    color: #44f3ff;
    letter-spacing: .06rem;
    font-weight: 700;
    font-size: 2.2rem;
}